In [1]:
dt={'a':'1','b':2}
type(dt)

dict

In [6]:
##create a list of alphabets a,b,c,d,e,f
ls=['a','b','c','d','e','fairytail']
print(ls[5][5:])
###mutable
ls[5]='laptop'
print(ls)
['a','b','c','d','e','laptop']

tail
['a', 'b', 'c', 'd', 'e', 'laptop']

['a', 'b', 'c', 'd', 'e', 'laptop']

In [11]:
dt={'a':1,'b':2}
type(dt)
print(dt.keys())
print(dt.values())

dict_keys(['a', 'b'])
dict_values([1, 2])

In [33]:
##  Tuple
ls=[1,2,3,4]
## Immutable
print(ls)
type(tu)

[1, 2, 3, 4]

tuple

In [3]:
ls=["SANFRANCISCO"]
ls[0]='ANKIT'
type[ls]

type[['ANKIT']]

In [19]:
#length of a list
ls=[]
len(ls)

0

In [21]:
ls=[10,20,30,10,20,30]
print(len(ls))
##count gives the number of times a element is there in the list
ls.count(10)

6

2

In [23]:
##adding elements to the list using append
ls=[]
print(ls)
ls.append(2)
print(ls)
ls.append(['a','b'])
print(ls)
ls.append([1,2,3])
print(ls)
ls.append([1,2,3,4])
print(ls)
ls.append([23,23,23])
print(ls)

[]
[2]
[2, ['a', 'b']]
[2, ['a', 'b'], [1, 2, 3]]
[2, ['a', 'b'], [1, 2, 3], [1, 2, 3, 4]]
[2, ['a', 'b'], [1, 2, 3], [1, 2, 3, 4], [23, 23, 23]]

In [21]:
### remove element from a list 

## remove () - remove the given element from the list

print(ls)

ls.remove({1, 2, 3, 4})
print(ls)

ls.remove(['a','b'])
print(ls)

[10, 20]

ValueError: list.remove(x): x not in list

In [20]:
##pop()- by default pop removes the last element by giving a position (not index) we can remove other elements too
print(ls)

ls.pop()
print(ls)

ls.pop(3)
print(ls)

[10, 20, 60]
[10, 20]

IndexError: pop index out of range

In [10]:
ls=[10,20,30,40,50,60]
del ls[2:5]

ls

[10, 20, 60]

In [27]:
## explore
ls=[1,2,3,4]

ls.extend({10,20,30,40,50})
print(ls)

ls.extend(ls)
print(ls)

[1, 2, 3, 4, 50, 20, 40, 10, 30]
[1, 2, 3, 4, 50, 20, 40, 10, 30, 1, 2, 3, 4, 50, 20, 40, 10, 30]

In [36]:
##mutability of set 
#uniquness 
st={'a','b','c','c'}
st

{'a', 'b', 'c'}

In [3]:
st={'a','b','c'}
st

st.add("india")
st

{'a', 'b', 'c', 'india'}

In [5]:
##frozenset
ls={1,2,3,4,5}
print(type(ls))
stt=frozenset(ls)
print(type(stt))

<class 'set'>
<class 'frozenset'>

In [8]:
#adding element 
st={'a','b','c',1,2,3}
st
st.add("INDIA")
print(st)
st.remove('c')
print(st)

{1, 2, 3, 'b', 'a', 'INDIA', 'c'}
{1, 2, 3, 'b', 'a', 'INDIA'}

In [ ]:
##remove element from a set
stt.remove(3)
attributeerrror
input in[20]in<cellline:()
1##remove element from a set 
2stt.remove(3)
attributeerror:frozenset'object has no attribute remove'

In [9]:
##drozen set
ls={'a',"b",'a',"b",1,2,3,4,5}
print(type(ls))
print(type(stt))
stt
<class"set">
<class"frozenset">##replace##

SyntaxError: invalid syntax (3236006675.py, line 6)

In [7]:
##replace
ls = {1,2,3,'a','b','c','india',3.2,4.5}
ls

{1, 2, 3, 3.2, 4.5, 'a', 'b', 'c', 'india'}

In [5]:
ls.remove('india')
ls.add('sai_krishna')
ls

{1, 2, 3, 3.2, 4.5, 'a', 'b', 'c', 'sai_krishna'}

In [8]:
ls={1,2,3,'a','b','c','india',3.2,4.5}
print(ls)
ls.remove('india')
print(ls)
ls.add('sai_krishna')
print(ls)

{1, 2, 3, 'b', 'india', 3.2, 4.5, 'a', 'c'}
{1, 2, 3, 'b', 3.2, 4.5, 'a', 'c'}
{1, 2, 3, 'b', 3.2, 4.5, 'sai_krishna', 'a', 'c'}

In [2]:
# if 

x = 10
if  x ==  10:
    print("value of x is 10")
    print("yes my answer is right")
else:
    print("value of x is not 10")

value of x is 10
yes my answer is right

In [6]:
## find a number if its even or odd
x=34
if x%2 == 0:
    print("number is even")
else:
    print("number is odd")

number is even