In [2]:
##for loop-it is used to itetrate through the given object
ls=[10,20,30,40,50]
for i in ls:
    print(i)

10
20
30
40
50

In [4]:
##table of 2 in python
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [5]:
##generate table of 9
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
    print(i*9)

9
18
27
36
45
54
63
72
81
90

In [10]:
##combination if and for
##print the even number in the list
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
    if i%2 == 0:
         print(i)

2
4
6
8
10

In [11]:
##while loop-the loop keeps on executing as long as the given condition is true
a=1
while a<10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9

In [12]:
#run a loop till the variable a=0 is 15
a=0
while a<=15:
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [16]:
##control statement: break,continue and pass
##break:interupt the execution and come out of the loop
ls=[1,2,3,4,5,6,7,8,9]
for i in ls:
    print(i)
    if i == 4:
        break

1
2
3
4

In [17]:
##break at an even number 
ls=[1,3,5,7,9,11,12,13,15,17,19]
for i in ls:
    print(i)
    if i%2==0:
        break

1
3
5
7
9
11
12

In [18]:
##continue: stop the current iteration of the loop and continues with need iteration
ls=[1,2,3,4,5,6,7,8,9]
for i in ls:
    print(i)
    if i==4:
        print(i)
        continue

1
2
3
4
4
5
6
7
8
9

In [27]:
a=0

while a<10:
    a+=1
    if a==4:
        print(a)
        continue

4

In [32]:
##continue the table of 2 without 10
ls=[1,2,3,4,5,6,7,8,9,10]
for i in ls:
    if i*2==10:
        continue
        print(i*2)

In [44]:
##pass:it will just let the iterator to pass
ls = [1,2,3,4,5,6,7]
for i in ls:
    pass 
    print('0')

0
0
0
0
0
0
0

In [19]:
ls=[1,2,3,4,5,6,7]
for i in ls:
    if i==4:
         #pass
            #print('this is pass block')
        print(i)

4

In [15]:
##function:function are set of resuable codes 
##function to print a wellcome messege
def welcome():
    print("hi, welcome to the python session!!")

In [45]:
##function to create the table of a given number
def table(a):
    i=1
    while  i<=10:
        print(i*a)
        i+=1

In [47]:
table(3)
3
6
9
12
15
18
21
24
27
30

3
6
9
12
15
18
21
24
27
30

30

In [51]:
##create a function to add 2 number
def sumnum(a,b):
    print(a+b)

In [52]:
sumnum(10,20)

30

In [62]:
##default input is a string
a=input("type the input")
print(a)
type(a)

type the input12345
12345

str

In [63]:
##simple calculation using python
##take input of 2 number from user
##take input of operation from user(add,sub,mult,divide)
##given the output

In [65]:
##range function python:create a sequence of number
##syntax
#range(start,stop,step)
#start default=0
#stop is mandatory
#step is optimal:default is 1
a=range(0,20,1)
print(a)
a=list(range(0,20,1))
print(a)
range(0,20)

range(0, 20)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

range(0, 20)

##lambda function:function without name (anous mous)
#syntax:
#lamda arguments:expression
##it can take any number of  arguments 
x=lamda a:a+12
print(x(3))
type(x)

In [1]:
##using lambda add 4 numbers
x=lambda a,b,c,d: a+b+c+d
print(x(1,2,3,4))

10